---
import BlogLayout from "../../layouts/BlogLayout.astro";
import Card from "../../components/Card.astro";

export async function getStaticPaths() {
  const posts = await Astro.glob("../../../posts/*.md");
  return posts.map((post) => ({
    params: {
      slug: post.frontmatter.slug,
    },
    props: {
      post,
    },
  }));
}
const { Content, frontmatter } = Astro.props.post;
const slug = frontmatter.slug;
---

<BlogLayout
  title={frontmatter.title}
  showcase={false}
  showPicture={true}
  background={frontmatter.image}
>
  <section class="page-content">
    <div class="container">
      <Card>
        <a class="btn" href="/blogs">Other Blogs</a>
        <div class="post">
          <div class="post-header">
            <h2>{frontmatter.title}</h2>
            Written by {frontmatter.author} on {
              new Date(frontmatter.date).toLocaleDateString()
            }
          </div>
          <hr />
          <Content />
        </div>
      </Card>

      <!-- Disqus Box -->
      <Card>
        <div id="disqus_thread"></div>
        <script define:vars={{ slug }}>
          var disqus_config = function () {
            this.page.url =
              "https://aerialrobotics-iitk.github.io/blog/" + { slug };
            this.page.identifier =
              "https://aerialrobotics-iitk.github.io/blog/" + { slug };
          };
          (function () {
            // DON'T EDIT BELOW THIS LINE
            var d = document,
              s = d.createElement("script");
            s.src = "https://aerialrobotics-iitk-github-io.disqus.com/embed.js";
            s.setAttribute("data-timestamp", +new Date().toString());
            (d.head || d.body).appendChild(s);
          })();
        </script>
        <noscript
          >Please enable JavaScript to view the <a
            href="https://disqus.com/?ref_noscript"
            >comments powered by Disqus.</a
          ></noscript
        >
      </Card>
    </div>
  </section>
</BlogLayout>

<style>
  .post {
    margin: 0 3rem;
    font-size: 1.4rem;
  }
  .post-header {
    margin: 1rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>
