---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
let posts = await Astro.glob('../posts/*.md');

function sortByKey(array:any, key:string) {
    return array.sort(function(a:any, b:any) {
        var x = a[key]; var y = b[key];
        return ((x > y) ? -1 : ((x < y) ? 1 : 0));
    });
}
posts = sortByKey(posts, 'file');
---

<Layout title="Aerial Robotics IITK" showPicture={false} background={"/UAVs_Merge.mp4"} text={"We build drones so you don't have to"}>

    <div class="container">
        <h1>What's New?</h1>
        <div class="new-posts">
            <!-- Show latest 2 blogs -->
            <!-- Latest is defined according to blog file number -->
            <div class="post">
                {<Card>
                    <h3>{posts[0].frontmatter.title}</h3>
                    <div>
                    Written by <strong>{posts[0].frontmatter.author} </strong> on {new Date(posts[0].frontmatter.date).toLocaleDateString()}
                    </div>
                    <p>{posts[0].frontmatter.excerpt}</p>  
                    <a class="btn" href={`/${posts[0].frontmatter.slug}`}>Read More</a>
                </Card>}
            </div>
            <div class="post">
                {<Card>
                    <h3>{posts[1].frontmatter.title}</h3>
                    <div>
                    Written by <strong>{posts[1].frontmatter.author} </strong> on {new Date(posts[1].frontmatter.date).toLocaleDateString()}
                  </div>
                    <p>{posts[1].frontmatter.excerpt}</p>  
                    <a class="btn" href={`/${posts[1].frontmatter.slug}`}>Read More</a>
                </Card>}
            </div>
        </div>
    </div>

    <div class="container">
        <h1>What We Do?</h1>
        <div class="doing">
            <div class="thing">
                <!-- Made by surang -->
                {
                    <Card>
                        <div class="content">
                            <div class="top"><h1>Automated UAV</h1></div>
                            <div class="mid"><img src={"/automated-process.png"} alt="" /></div>
                            <div class="bottom"><h1>Software and Systems</h1></div>
                        </div>
                    </Card>
                }
            </div>
            <div class="thing">
                <!-- Made by srip -->
                {
                    <Card>
                        <div class="content">
                            <div class="top"><h1>Airframe</h1></div>
                            <div class="mid"><img src={"/uav.png"} alt="" /></div>
                            <div class="bottom"><h1>Hardware Integration</h1></div>
                        </div>
                    </Card>
                }
            </div>
            <div class="thing">
                <!-- Made by Octopocto -->
                {
                    <Card>
                        <div class="content">
                            <div class="top"><h1>Competitions</h1></div>
                            <div class="mid"><img src={"/award.png"} alt="" /></div>
                            <div class="bottom"><h1>Indian or International</h1></div>
                        </div>
                    </Card>
                }
            </div>
        </div>
    </div>

    <div class="container">
        <h1>Our Competitions?</h1>
        <p>
            Throughout the year, UAARG designs and develops autonomous aircraft for student competitions, where we perform a full flight demonstration of our aircraft. We attend the following competitions each year:
        </p>
        <ul>
            <li>
                USC:  Unmanned Systems Canada
            </li>
            <li>
                AUVSI:  Association of Unmanned Vehicle Systems International
            </li>
        </ul>
    </div>

</Layout>

<script define:vars={{ posts }}>
console.log("Posts are", posts);
</script>

<style>
    .doing {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .thing {
        margin: 1rem;
    }
    .content {
        padding: -2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .content > .bottom {
        text-align: center;
    }
    .thing img {
        margin: 1rem;
        width: 13rem;
    }
    .new-posts {
        display: flex;
        flex-direction: row;
    }

    .new-posts > .post {
        padding: 1rem 1rem;
    }

</style>
